atomicwrites==1.4.0
attrs==19.3.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.3
decorator==5.1.1
flake8==4.0.1
Flask==1.1.2
Flask-Cors==3.0.10
flask-healthz==0.0.3
idna==3.3
iniconfig==1.0.1
IPy==1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
numpy==1.22.0
oauthlib==3.2.0
opencv-python==4.5.5.62
packaging==20.4
pluggy==0.13.1
py==1.10.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==2.4.7
pytest==6.0.1
redis==3.5.3
requests==2.27.1
requests-oauthlib==1.3.1
scipy==1.7.2
six==1.15.0
toml==0.10.1
tweepy==4.9.0
urllib3==1.26.8
validators==0.18.2
Wand==0.6.7
Werkzeug==1.0.1
