appdirs==1.4.4
attrs==19.3.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
fake-useragent==0.1.11
flake8==3.8.3
Flask==1.1.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.5.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
parse==1.15.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyee==7.0.2
pyflakes==2.2.0
pyparsing==2.4.7
pyppeteer==0.2.2
pyquery==1.4.1
pytest==5.4.3
requests==2.23.0
requests-html==0.10.0
six==1.15.0
soupsieve==2.0.1
tqdm==4.46.1
urllib3==1.25.9
w3lib==1.22.0
wcwidth==0.2.4
websockets==8.1
Werkzeug==1.0.1
