.header{
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.header__image {
  object-fit: contain;
  height: 50px;
}

.header__admin {
  display: flex;
}

.header__admin__username {
  margin: auto;
}

.header__admin__upload {
  height: 50px;
  width: 50px;
  float: left;
  margin: auto;
}

.header__admin__avatar {
  margin: 10px;
}
