.post{
  background-color: #886AD4;
  opacity: 950%;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom:45px;
}

.post__image{
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text{
  font-weight: normal;
  padding: 20px;
  min-height: 75px;
}

.post__refry{
  float: right;
  width: 100px;
  height: 50px;
  margin-right: 10px;
  font-size: x-large;
}

.post__header{
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}

.post__header__avatar{
  margin-right: 10px;
}

.post__header__expiration{
  position: absolute;
  right: 10px;
}
